.projectinfo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: fit-content;
    max-height: 80%;
    max-width: 64rem;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: hsl(201, 39%, 20%);
    color: white;
    padding: 2rem;
    border-radius: 2rem;
    overflow-y: auto;
}

.openInfo {
    animation: fadeIn 0.25s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.closeInfo {
    animation: fadeOut 0.25s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.projectinfo > .border {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(147, 79%, 61%);
}

.projectinfo > h2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(147, 79%, 61%);
}

.projectinfo > ul {
    list-style-type: square;
    list-style: none;
}

.projectinfo > ul > li {
    padding-top: 0.5rem;
}

.projectinfo > ul > li::before {
    content: "\2022";
    color:hsl(147, 79%, 61%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 100%;
        display: block;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}