.project {
    font-family: 'Inter', sans-serif;
    
    padding: 1.5rem;

    background-color: hsl(201, 39%, 20%);
    color: white;

    display: grid;
    grid-template-rows: 4rem 1fr 3rem;

    max-width: 16rem;
    min-width: 12rem;
    max-height: 24rem;

    border-radius: 2rem;
}

.project > * {
    margin: 0.5rem;
}

.project-title {
    padding-bottom: 1rem;
    grid-row: 1 / 2;
    border-bottom: 1px solid white;
}

.project > p {
    grid-row: 2 / 3;
    overflow-y: hidden;
    position: relative;
}

.project > p::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(0deg, hsl(201, 39%, 20%), hsla(201, 39%, 20%, 0));
}

.project > button {
    grid-row: 3 / 4;
}