.button {
    max-height: 3em;
    padding: 0.75rem 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border: 0;
    border-radius: 3em;
     display: inline-block;
    transition: all 0.5s ease-out;
}

.button--primary {
    background-color: #172B36;
    color: #4FEA96;
}

.button--primary:active {
    background-color: hsl(201, 40%, 10%);
    color: hsl(147, 79%, 57%);
}

.button--secondary {
    background-color: #4FEA96;
    color: #172B36;
}

.button--secondary:active {
    background-color: hsl(147, 79%, 40%);
    color: hsl(201, 40%, 10%);
    transition: all 0.1s ease-out;
}