.nav {
    padding: 1rem;
    background-color: #172B36;
    width: max-content;
}

.nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style-type: none;
}

.link {
    padding: 0 3px 0 3px;
    font-size: 24px;
    color: #4FEA96;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.link:hover {
    color: #16B65F;
    border-bottom: 2px dashed #16B65F;
    padding: 3px;
}

